body
{ 
    background-color: rgba(243, 216, 182, 0.815);
    margin: 0;
    padding: 0;
}
.navigation{
    position: fixed;
    top: 0;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #18243b;
    margin-bottom: 10px;    
    width: 100%;
    height: 110px;  
}
#logotipo{
    margin-top: 18px;
    margin-left: 20px;
    width: 170px;
    height: 60px;
}

.navigation ul {
    display: flex;
}
.navigation li{
    
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    float: center;
    margin: 0 15px;
}
.navigation li a
{
    text-decoration: none;
    color: white;
    margin-right: 40px;
    transition:.5%;
}

.navigation li a:hover
{
    color: #3381f3;
}
.nav-menu{
    cursor: pointer;
    margin: 0px 50px;
    display: none;
}
.nav-menu .bar
{
    display: block;
    width: 28px ;
    height: 3px;
    border-radius: 30px;
    background: white ;
    margin: 5px auto;
}
#menu
{
    
}


@media(max-width:785px)
{
    .navigation{
        padding: 18px 20px;
    }
    .nav-menu{
        display: block;
    }
    .nav-menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg); 
    }
    .nav-menu.ativo .bar:nth-child(2){
        opacity: 0;
    }
    .nav-menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg); 
    }
    #menu 
    {
        position: fixed;
        right: -100%;
        top: 20%;
        width: 90%;
        height: 100%;
        background:  #18243b;
        opacity: 88%;
        transition: 0.3s;
    }
    #menu ul 
    {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: space-evenly ;
        flex-direction: column;
        align-items: center;
        
    }
    #menu.ativo
    {
        right: 0%; 
    }

}


